//Variables
$brown:#424040;
$aqua-green:#00ffc3;
$black:#000;
$white:#fff;
$gray:#333;
$orange:#ff9900;


//Mixin
@mixin borderBox{
    box-sizing: border-box;
}
@mixin boxShadow{
    box-shadow: -19px -1px 22px 15px rgba(0,0,0,0.30);
}
@mixin titleStyle($size,$weight){
    font-size: $size;
    font-weight: $weight;
    text-align: center;
}
//extend
%card{
    @include borderBox;
    cursor:pointer;
    text-align: center;
    padding: 20px;

}
body{
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    color: $brown;
    font-family: "Lexend",Arial,Arial, Helvetica, sans-serif;
    margin:0;
}
img{
    width: 100px;
}
.header{
    width: 100%;
    padding: 20px 50px;
    background-color:$aqua-green;
    display: flex;
    justify-content: space-between;
    @include borderBox;

    .__icon{
        width: 35px;
        cursor: pointer;
        display: inline-block;
    }
    .__icon-img{
        width: 120%;
    }
    .__img{
        width: 22%;
    }
}
.banner{
    width: 100%;
    padding: 60px 0;
    text-align: center;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $black;
    background-position-y: 85% ;

    .__title{
        width: 100%;
        @include titleStyle(30px,600);
        margin: 10px;
    }
    .__subtitle{
        width: 100%;
        margin: 0 auto;
        font-size: 25px;
        opacity: 0.7;
    }
}
.products{
    width: 60%;
    margin:0 auto;
    @include borderBox;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));

    .__item{
        @extend %card;
    }
    .__img{
        width: 200px;
        margin-bottom: 15px;
    }
    .__title{
        @include titleStyle(17px,500);
        margin-bottom: 5px;
    }
    .__price{
        font-weight: 300;
        font-size: 15px;
    }
}
.cart{
    width: 500px;
    background-color: $white;
    padding: 25px;
    @include borderBox;
    height: 100%;
    position: fixed;
    right: -100%;
    top: 100px;
    @include boxShadow;

    .__title{
        width: 100%;
        @include titleStyle(20px,600);
        padding: 25px 0;
        @include borderBox;
    }
    .__container{
        border-bottom: 1px solid $gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        @include borderBox;

        .--selectorDelete{
            width: 25px;
            cursor: pointer;   
        }
    }
    .__img{
        width: 60px;
    }
    .__price{
        font-weight: 500;
    }
    .__delete-icon{
        width: 100%;
    }
}

//MediaQuerry para tablets
@media(max-width:820px){
    .header{
        padding: 15px;

        .__img{
            width: 200px;
        }
        .__icon{
            width: 30px;
            cursor: default;
        }
    }
    .products{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        .__item{
            cursor: default;
        }
        .__img{
            width: 150px;
        }
    }
    .cart{
        width: 400px;
        top:80px;
    }
}
//MediaQuerry para celulares
@media (max-width:480px){
    .banner{
        padding: 30px 0;

        .__title{
            font-size: 18px;
            color:$orange;
        }
        .__subtitle{
            font-size: 16px;
        }
    }
    .products{
        grid-template-columns: 1fr;
        padding: 10px;
        .__item{
            cursor: default;
        }
        .__img{
            width: 100%;
            max-width: 200px;
            margin-bottom: 10px;
        }
        .___title,.__price{
            padding: 0 10px;
        }
    }
    .cart{
        width: 100%;
        box-shadow: none;

        .__title{
            padding: 15px 0;
        }
        .__container{
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;

            .--selectorDelete{
                margin: 0;
            }
        }
        .__img{
            width: 100px;
        }
        .__delete-icon{
            width: 30px;
        }
        p{
            margin: 0;
        }
    }
}
