body{
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    color: $brown;
    font-family: "Lexend",Arial,Arial, Helvetica, sans-serif;
    margin:0;
}
img{
    width: 100px;
}
.header{
    width: 100%;
    padding: 20px 50px;
    background-color:$aqua-green;
    @include borderBox;
    .header__cart-counter{
        width: 2%;
        padding: 1px;
        background-color: $orange;
        border-radius: 50%;
        height: 3%; 
        .header__contador{
            color: $white;
            font-weight: 700;
            font-size: 1rem;
        } 
    }
    .header__icon{
        width: 50px;
        cursor: pointer;
        display: inline-block;

        &.header__icon--cart{
            margin-right: 0.5em;
        }
        
    }
    .header__icon-img{
        width: 120%;
    }
    .header__img{
        width: 22%;
    }
    @include pc-medium{
        .header__cart-counter{
            width: 2%;
            height: 4%;
        }
    }
    @include pc-small{
        .header__cart-counter{
            width: 2%;
            height: 3%;
        }
    }
    @include tablets{
        padding: 15px;

        .header__img{
            width: 200px;
        }
        .header__icon{
            width: 30px;
            cursor: default;
        }
        .header__cart-counter{
            width: 2%;
            height: 1.8%;
            .header__contador{
                font-size: 1rem;
            }
        }
    }
    @include tablets-small{
        .header__cart-counter{
            width: 2.3%;
            height: 1.5%;
            .header__contador{
                font-size: 14px;
            }
        }
    }
    @include phones{
        .header__cart-counter{
            width: 15px;
            height: 15px;

            .header__contador{
                font-size: 12px;
            }
        }
    }
}
.banner{
    width: 100%;
    padding: 60px 0;
    text-align: center;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $black;
    background-position-y: 85% ;

    .banner__title{
        width: 100%;
        @include titleStyle(30px,600);
        margin: 10px;
    }
    .banner__subtitle{
        width: 100%;
        margin: 0 auto;
        font-size: 25px;
        opacity: 0.7;
    }
    @include phones{
        padding: 30px 0;
        .banner__title{
            font-size: 18px;
            color:$orange;
        }
        .banner__subtitle{
            font-size: 16px;
        }
    }
}
.products{
    width: 60%;
    margin:0 auto;
    @include borderBox;
    .products__item{
        @extend %card;
    }
    .products__img{
        width: 200px;
        margin-bottom: 15px;
    }
    .products__title{
        @include titleStyle(17px,500);
        margin-bottom: 5px;
    }
    .products__price{
        font-weight: 300;
        font-size: 15px;
    }
    .products__buttonAgregar{
        width: 100%;
        background-color: $orange;
        border-color: $orange;
        color: $white;
        padding: 10px 0px;
        font-weight: 600;
        transition:all 0.3s ease-in-out;
        cursor: pointer;
        &:hover{
            background-color:$aqua-green;
            border-color: $aqua-green;
            color: $black;
            
        }

    }
    @include tablets{
        .products__item{
            cursor: default;
        }
        .products__img{
            width: 150px;
        }
    }
    @include phones{
        padding: 10px;
        .products__item{
            cursor: default;
        }
        .products__img{
            width: 100%;
            max-width: 200px;
            margin-bottom: 10px;
        }
        .products___title,.products__price{
            padding: 0 10px;
        }
    }
}
.cart{
    width: 500px;
    background-color: $white;
    padding: 25px;
    @include borderBox;
    height: 100%;
    @include boxShadow;
    .cart__divClose{
        display: flex;
        align-items: center;
        .cart__close-icon{
            width: 30px;
            cursor: pointer;
        }
        .cart__img-Close{
            width: 100%;
        }
    }
    .cart__divTitle{
        grid-row:2;
        .cart__title{
            width: 100%;
            @include titleStyle(20px,600);
            padding: 10px 0;
            @include borderBox;
        }
    }
    .cart__container-Product{
        border-bottom: 1px solid $gray;
        padding: 15px;
        @include borderBox;
        .cart__product-Delete{
            width: 2em;
            cursor: pointer;   
        }
    }
    .cart__product-img{
        width: 70px;
    }
    .cart__product-price{
        font-weight: 500;
    }
    .cart__product-iconDelete{
        width: 100%;
    }
    @include tablets{
        width: 400px;
        top:80px;
    }
    @include phones{
        width: 90%;
        box-shadow: none;
        .cart__title{
            padding: 15px 0;
        }
        .cart__container{
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;

            .cart__container-Product--selectorDelete{
                margin: 0;
            }
        }
        .cart__product-img{
            width: 70px;
        }
        .cart__product-iconDelete{
            width: 30px;
        }
        p{
            margin: 0;
        }

    }
}
.menu{
    width: 380px;
    padding: 25px;
    @include borderBox;
    max-height:80%;
    background-color: $aqua-green;
    box-shadow: 5px 20px 22px 1px rgba(0,0,0,0.30);

    
    ul{
        transition: all 0.2s ease-in-out;
        &:hover{
            background-color: $orange;
        }
    }

    .menu__close{
        .menu__close-icon{
            width: 30px;
            .menu__imgClose{
                width: 100%;
            }
        }
    }
    a{
        @extend %fontMenu;
    }
    @include pc-medium{
        a{
            font-size: 1rem;
        }
    }
    @include pc-small{
        width: 340px;
    }
    @include tablets{
        width: 222px;
        padding: 0;
    }
    @include tablets-small{
        width: 185px;
        
        a{
            font-size:1rem;
        }
    }

}

