body{
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    color: $brown;
    font-family: "Lexend",Arial,Arial, Helvetica, sans-serif;
    margin:0;
}
img{
    width: 100px;
}
.header{
    width: 100%;
    padding: 20px 50px;
    background-color:$aqua-green;
    @include borderBox;
    .--showLengthProducts{
        width: 2rem;
        padding: 1px;
        background-color: $orange;
        border-radius: 50%;
        height: 2rem; 
        .__contador{
            color: $white;
            font-weight: 700;
            font-size: 1rem;
        } 
    }
    .__icon{
        width: 50px;
        cursor: pointer;
        display: inline-block;

        &.--cart{
            margin-right: 0.5em;
        }
        
    }
    .__icon-img{
        width: 120%;
    }
    .__img{
        width: 22%;
    }
    @include tablets{
        padding: 15px;

        .__img{
            width: 200px;
        }
        .__icon{
            width: 30px;
            cursor: default;
        }
        .--showLengthProducts{
            width: 1.3rem;
            height: 1.3rem;
        }
    }
    @include phones{
        .--showLengthProducts{
            width: 15px;
            height: 15px;

            .__contador{
                font-size: 12px;
            }
        }
    }
}
.banner{
    width: 100%;
    padding: 60px 0;
    text-align: center;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $black;
    background-position-y: 85% ;

    .__title{
        width: 100%;
        @include titleStyle(30px,600);
        margin: 10px;
    }
    .__subtitle{
        width: 100%;
        margin: 0 auto;
        font-size: 25px;
        opacity: 0.7;
    }
    @include phones{
        padding: 30px 0;
        .__title{
            font-size: 18px;
            color:$orange;
        }
        .__subtitle{
            font-size: 16px;
        }
    }
}
.products{
    width: 60%;
    margin:0 auto;
    @include borderBox;
    .__item{
        @extend %card;
    }
    .__img{
        width: 200px;
        margin-bottom: 15px;
    }
    .__title{
        @include titleStyle(17px,500);
        margin-bottom: 5px;
    }
    .__price{
        font-weight: 300;
        font-size: 15px;
    }
    .__buttonAgregar{
        width: 100%;
        background-color: $orange;
        border-color: $orange;
        color: $white;
        padding: 10px 0px;
        font-weight: 600;
        transition:all 0.5s ease-in-out;
        cursor: pointer;
        &:hover{
            background-color:$aqua-green;
            border-color: $aqua-green;
            color: $black;
            
        }

    }
    @include tablets{
        .__item{
            cursor: default;
        }
        .__img{
            width: 150px;
        }
    }
    @include phones{
        padding: 10px;
        .__item{
            cursor: default;
        }
        .__img{
            width: 100%;
            max-width: 200px;
            margin-bottom: 10px;
        }
        .___title,.__price{
            padding: 0 10px;
        }
    }
}
.cart{
    &.--showCart{
        left: 1rem;
    }
    &.--closeCart{
        right: -100%;    
    }
    width: 500px;
    background-color: $white;
    padding: 25px;
    @include borderBox;
    height: 100%;
    position: fixed;
    right: -100%;
    top: 100px;
    @include boxShadow;
    .divClose{
        display: flex;
        align-items: center;
        .--selectorClose{
            width: 30px;
            cursor: pointer;
        }
        .imgClose{
            width: 100%;
        }
    }
    .divTitle{
        grid-row:2;
        .__title{
            width: 100%;
            @include titleStyle(20px,600);
            padding: 10px 0;
            @include borderBox;
        }
    }
    .__container-Product{
        border-bottom: 1px solid $gray;
        padding: 15px;
        @include borderBox;
        .--selectorDelete{
            width: 25px;
            cursor: pointer;   
        }
    }
    .__img{
        width: 60px;
    }
    .__price{
        font-weight: 500;
    }
    .__delete-icon{
        width: 100%;
    }
    @include tablets{
        width: 400px;
        top:80px;
    }
    @include phones{
        width: 90%;
        box-shadow: none;
        .__title{
            padding: 15px 0;
        }
        .__container{
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;

            .--selectorDelete{
                margin: 0;
            }
        }
        .__img{
            width: 70px;
        }
        .__delete-icon{
            width: 30px;
        }
        p{
            margin: 0;
        }

    }
}