.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__cart-counter{
        position:absolute;
        right: 2%;
        top:2.5%;
        display:flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    @include pc-medium{
        .header__cart-counter{
            right: 2.9%;
            top: 3%;
        }
    }
    @include pc-small{
        .header__cart-counter{
            right: 2.6%;
            top: 2%;
        }
    }    
    @include tablets{
        .header__cart-counter{
            right: 0.8%;
            top: 0.5%;
        }
    }
    @include tablets-small{
        .header__cart-counter{
            right: 1.3%;
            top: 1%;
        }
    }
    @include phones{
        .header__cart-counter{
            right: 3.4%;
            top: 1.7%;
        }
    }
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    @include tablets{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
    @include phones{
        grid-template-columns: 1fr;
    }
}
.cart{
    display: grid;
    grid-template-rows: auto auto 1fr;
    position: fixed;
    right: -100%;
    top: 100px;
    &.cart--show{
        right: 1rem;
    }
    &.cart--close{
        right: -100%;    
    }
    .cart__container-items{
        grid-row: 3;
        display: flex;
        flex-direction: column;
        align-items: center;

        .cart__container-Product{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1em;
        }
    }
    @include phones{
        .cart__container-items{
            .cart__container-Product{
                gap:1.5em;
            }
        }
    }
}
.menu{
    position:fixed;
    left: -100%;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .menu__close{
        display: flex;
        justify-content: flex-end;
    }

    &.menu--show{
        left: 0%;
    }
    &.menu--close{
        left: -100%;
    }
    @include tablets{
        top: 72px;
    }
}