.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .--showLengthProducts{
        position:absolute;
        left: 4.7%;
        top:2.7%;
        display:flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    @include tablets{
    .--showLengthProducts{
            left: 3%;
            top: 1%;
        }
    }
    @include phones{
        .--showLengthProducts{
            left: 9%;
            top: 1.7%;
        }
    }
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    @include tablets{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
    @include phones{
        grid-template-columns: 1fr;
    }
}
.cart{
    display: grid;
    grid-template-rows: auto auto 1fr;
    .__container-items{
        grid-row: 3;
        display: flex;
        flex-direction: column;
        align-items: center;

        .__container-Product{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1em;
        }
    }
    @include phones{
        .__container-items{
            .__container-Product{
                gap:1.5em;
            }
        }
    }
}