.header{
    display: flex;
    justify-content: space-between;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    @include tablets{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
    @include phones{
        grid-template-columns: 1fr;
    }
}
.cart{
    .__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}