.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    @include tablets{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
    @include phones{
        grid-template-columns: 1fr;
    }
}
.cart{
    display: grid;
    grid-template-rows: auto auto 1fr;
    .__container-items{
        grid-row: 3;
        display: flex;
        flex-direction: column;
        align-items: center;

        .__container-Product{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1em;
        }
    }
}