.products .__item {
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .--showLengthProducts {
  position: absolute;
  left: 4.7%;
  top: 2.7%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1366px) {
  .header .--showLengthProducts {
    left: 3%;
    top: 1%;
  }
}
@media (max-width: 480px) {
  .header .--showLengthProducts {
    left: 9%;
    top: 1.7%;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
@media (max-width: 1366px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media (max-width: 480px) {
  .products {
    grid-template-columns: 1fr;
  }
}

.cart {
  display: grid;
  grid-template-rows: auto auto 1fr;
}
.cart .__container-items {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart .__container-items .__container-Product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
@media (max-width: 480px) {
  .cart .__container-items .__container-Product {
    gap: 1.5em;
  }
}

body {
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  color: #424040;
  font-family: "Lexend", Arial, Arial, Helvetica, sans-serif;
  margin: 0;
}

img {
  width: 100px;
}

.header {
  width: 100%;
  padding: 20px 50px;
  background-color: #00ffc3;
  box-sizing: border-box;
}
.header .--showLengthProducts {
  width: 2rem;
  padding: 1px;
  background-color: #ff9900;
  border-radius: 50%;
  height: 2rem;
}
.header .--showLengthProducts .__contador {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}
.header .__icon {
  width: 50px;
  cursor: pointer;
  display: inline-block;
}
.header .__icon.--cart {
  margin-right: 0.5em;
}
.header .__icon-img {
  width: 120%;
}
.header .__img {
  width: 22%;
}
@media (max-width: 1366px) {
  .header {
    padding: 15px;
  }
  .header .__img {
    width: 200px;
  }
  .header .__icon {
    width: 30px;
    cursor: default;
  }
  .header .--showLengthProducts {
    width: 1.3rem;
    height: 1.3rem;
  }
}
@media (max-width: 480px) {
  .header .--showLengthProducts {
    width: 15px;
    height: 15px;
  }
  .header .--showLengthProducts .__contador {
    font-size: 12px;
  }
}

.banner {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  background-position-y: 85%;
}
.banner .__title {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
}
.banner .__subtitle {
  width: 100%;
  margin: 0 auto;
  font-size: 25px;
  opacity: 0.7;
}
@media (max-width: 480px) {
  .banner {
    padding: 30px 0;
  }
  .banner .__title {
    font-size: 18px;
    color: #ff9900;
  }
  .banner .__subtitle {
    font-size: 16px;
  }
}

.products {
  width: 60%;
  margin: 0 auto;
  box-sizing: border-box;
}
.products .__img {
  width: 200px;
  margin-bottom: 15px;
}
.products .__title {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
}
.products .__price {
  font-weight: 300;
  font-size: 15px;
}
.products .__buttonAgregar {
  width: 100%;
  background-color: #ff9900;
  border-color: #ff9900;
  color: #fff;
  padding: 10px 0px;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.products .__buttonAgregar:hover {
  background-color: #00ffc3;
  border-color: #00ffc3;
  color: #000;
}
@media (max-width: 1366px) {
  .products .__item {
    cursor: default;
  }
  .products .__img {
    width: 150px;
  }
}
@media (max-width: 480px) {
  .products {
    padding: 10px;
  }
  .products .__item {
    cursor: default;
  }
  .products .__img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
  }
  .products .___title, .products .__price {
    padding: 0 10px;
  }
}

.cart {
  width: 500px;
  background-color: #fff;
  padding: 25px;
  box-sizing: border-box;
  height: 100%;
  position: fixed;
  right: -100%;
  top: 100px;
  box-shadow: -19px -1px 22px 15px rgba(0, 0, 0, 0.3);
}
.cart.--showCart {
  left: 1rem;
}
.cart.--closeCart {
  right: -100%;
}
.cart .divClose {
  display: flex;
  align-items: center;
}
.cart .divClose .--selectorClose {
  width: 30px;
  cursor: pointer;
}
.cart .divClose .imgClose {
  width: 100%;
}
.cart .divTitle {
  grid-row: 2;
}
.cart .divTitle .__title {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
}
.cart .__container-Product {
  border-bottom: 1px solid #333;
  padding: 15px;
  box-sizing: border-box;
}
.cart .__container-Product .--selectorDelete {
  width: 25px;
  cursor: pointer;
}
.cart .__img {
  width: 60px;
}
.cart .__price {
  font-weight: 500;
}
.cart .__delete-icon {
  width: 100%;
}
@media (max-width: 1366px) {
  .cart {
    width: 400px;
    top: 80px;
  }
}
@media (max-width: 480px) {
  .cart {
    width: 90%;
    box-shadow: none;
  }
  .cart .__title {
    padding: 15px 0;
  }
  .cart .__container {
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .cart .__container .--selectorDelete {
    margin: 0;
  }
  .cart .__img {
    width: 70px;
  }
  .cart .__delete-icon {
    width: 30px;
  }
  .cart p {
    margin: 0;
  }
}/*# sourceMappingURL=main.css.map */